
$resting-color: #ff9db1;

.grid {
    width: 100vw;
    font-weight: bold;
}

.col {
    height: 98vh;
    padding: 0px 0px 0px 0px;
}

.row {
    padding-top: 2vh;
}

.fullSize {
    display: block;
    height: 38vh;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

#leftCol a, #leftCol div {
    border-right: 2px solid $resting-color;
}

#rightCol a, #rightCol div {
    border-left: 2px solid $resting-color;
}

.top {
    border-bottom: 2px solid $resting-color;
}

.middle {
    border-top: 2px solid $resting-color;
    border-bottom: 2px solid $resting-color;
}

.bottom {
    border-top: 2px solid $resting-color;
}

.buffer {
    display: block;
    height: 19vh;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

a {
    text-align: center;
    line-height: 38vh;
    text-decoration: none;
}

a:active {
    color: #ED93A5;
}
