
.grid {
    width: 100vw;
}

.col {
    height: 98vh;
    padding: 0px 0px 0px 0px;
}

.fullSize {
    display: block;
    height: 50vw;
    width: 100%;
    margin: 0px 0px 0px 0px;
    border: 2px solid red;
}

.buffer {
    display: block;
    height: 25vw;
    width: 100%;
    margin: 0px 0px 0px 0px;
    border: 2px solid black;
}

a {
    text-align: center;
    line-height: 50vw;
}
