<ion-grid class="grid">
    <ion-row class="row" align-items-center>
        <ion-col id="leftCol" class="col">
            <a class="fullSize top" (click)="navToManageContacts()">Manage Contacts</a>
            <a class="fullSize middle">Settings</a>
            <div class="buffer bottom"></div>
        </ion-col>
        <ion-col id="rightCol" class="col">
            <div class="buffer top"></div>
            <a class="fullSize middle">Calendar</a>
            <a class="fullSize bottom">BuddyCall</a>
        </ion-col>
    </ion-row>
</ion-grid>
